@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes shade-in {
  from {
    color: black;
  }
  to {
    color: gray;
  }
}
/* The Box thats this ruleset styles contains the entire app */
/* The dimensions of the actual WebView are slightly larger than this Box! */
/* The only reason I did this is to add a transparent margin for */
/* that sexy box shadow. */
.appWrapper {
  position: fixed;
  opacity: 0;
  animation: fade-in 0.15s ease-in-out forwards;
  width: 300px;
  height: 485px;
  margin: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 15px;
  user-select: none;

}

.innerVirtualTouchBar::-webkit-scrollbar {
  display: none;
}

.taskFadeout {
  animation: fade-out 0.25s ease-out 2s, shade-in 0.12s linear 0s;
  color: gray;
}